<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="memberMapper">
	<!-- <select id="loginMember" parameterType="member.model.vo.Member" resultType="member.model.vo.Member"> -->
	<!-- select * -->
	<!-- from member -->
	<!-- where user_id = #{userId} -->
	<!-- and user_pwd = #{userPwd} -->
	<!-- </select> -->


	<select id="loginMember" parameterType="member.model.vo.Member"
		resultMap="memberResultSet">
		select *
		from member
		where user_id = #{userId}
		and user_pwd = #{userPwd}
		and M_STATUS = 'Y'
	</select>


	<insert id="insertMember" parameterType="Member">
		insert into member
		values(#{userId}, #{userPwd}, #{userName}, #{nickName}, #{email}, #{birthDay},
		#{gender}, #{phone}, #{address}, SYSDATE, SYSDATE, DEFAULT)
	</insert>

	<select id="getMyInfo" parameterType="string"
		resultMap="memberResultSet">
		select *
		from member
		where user_id = #{userId} and M_STATUS = 'Y'
	</select>

	<update id="updateInfoMember" parameterType="Member">
		update member
		set EMAIL = #{email}, BIRTHDAY = #{birthDay}, GENDER = #{gender}, PHONE =
		#{phone}, ADDRESS = #{address}, UPDATE_DATE = SYSDATE
		where USER_ID = #{userId}
	</update>

	<update id="updatePwdMember" parameterType="hashmap">
		update member
		set USER_PWD = #{newPwd}
		where USER_ID = #{userId} and USER_PWD = #{userPwd}
	</update>

	<update id="deleteMember" parameterType="string">
		update member
		set M_STATUS = 'N'
		where USER_ID = #{userId}
	</update>

	<resultMap type="Member" id="memberResultSet">
		<!-- DB 기본 키 -->
		<id property="userId" column="USER_ID" />
		<!-- DB 일반 컬럼 -->
		<result property="userPwd" column="USER_PWD" />
		<result property="userName" column="USER_NAME" />
		<result property="nickName" column="NICKNAME" />
		<result property="email" column="EMAIL" />
		<result property="birthDay" column="BIRTHDAY" />
		<result property="gender" column="GENDER" />
		<result property="phone" column="PHONE" />
		<result property="address" column="ADDRESS" />
		<result property="enrollDate" column="ENROLL_DATE" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="mStatus" column="M_STATUS" />
	</resultMap>
</mapper>